PORT=4000
FRONTEND_ORIGIN=http://localhost:3000
DATABASE_URL=postgresql://admin:admin123@localhost:5432/rutadelsaborDB
GOOGLE_CLIENT_ID=418639014154-k5scmpabg2f8dvskktmah1iomt5oe68u.apps.googleusercontent.com
JWT_SECRET=cambia-esta-clave
